<header>
  <ul class="main__menu">
    <li class="list-item">
      <a href="/" class="home item--js">
        <span>Inicio</span>
        <img src="../../imagenes/Pink Christmas Gingerbread house.svg" alt="">
      </a>
    </li>
    <% if (typeof tableName !== 'undefined') { %>
      <li class="list-item">
          <a href="/homeFamilia/<%= tableName %>" class="homeFamilia item--js">
              <span>Mi Familia</span>
              <img src="../../imagenes/family2.svg" alt="">
          </a>
      </li>
  <% } else { %>
      <li class="list-item">
          <a href="/registro" class="registro item--js">
              <span>Registro</span>
              <img src="../../imagenes/Typewriter I love You.svg" alt="">
          </a>
      </li>
  <% } %>
  
  <% if (typeof username !== 'undefined' && typeof tableName !== 'undefined') { %>
    <!-- Opción del menú habilitada -->
    <li class="list-item">
        <a href="/chat/<%= tableName %>" class="chat item--js">
            <span>Chat</span>
            <img src="../../imagenes/mensaje.svg" alt="">
        </a>
    </li>
<% } else { %>
    <!-- Opción del menú deshabilitada (oculta) -->
    <li class="list-item" style="display: none;">      
    </li>
<% } %>
<% if (typeof username !== 'undefined' && typeof tableName !== 'undefined') { %>
  <!-- Opción del menú habilitada -->
  <li class="list-item">
    <a href="/diario/<%= tableName %>" class="diario item--js">
      <span>Diario</span>
      <img src="../../imagenes/diary.svg" alt="">
      </a>
  </li>
<% } else { %>
  <!-- Opción del menú deshabilitada (oculta) -->
  <li class="list-item" style="display: none;">      
  </li>
<% } %>
<% if (typeof username !== 'undefined' && typeof tableName !== 'undefined') { %>
  <!-- Opción del menú habilitada -->
  <li class="list-item">
    <a href="/calendario/<%= tableName %>" class="Calendario item--js">
      <span>Calendario</span>
      <img src="../../imagenes/calendar.svg" alt="">
      </a>
  </li>
<% } else { %>
  <!-- Opción del menú deshabilitada (oculta) -->
  <li class="list-item" style="display: none;">      
  </li>
<% } %>
<% if (typeof username !== 'undefined' && typeof tableName !== 'undefined') { %>
  <!-- Opción del menú habilitada -->
  <li class="list-item">
    <a href="/animo/<%= tableName %>" class="animo item--js">
      <span>Ánimo</span>
      <img src="../../imagenes/smiley.svg" alt="">
      </a>
  </li>
<% } else { %>
  <!-- Opción del menú deshabilitada (oculta) -->
  <li class="list-item" style="display: none;">      
  </li>
<% } %>
<% if (typeof username !== 'undefined' && typeof tableName !== 'undefined') { %>
  <!-- Opción del menú habilitada -->
  <li class="list-item">
    <a href="/tareas/<%= tableName %>" class="tareas item--js">
      <span>Tareas</span>
      <img src="../../imagenes/check.svg" alt="">
      </a>
  </li>
<% } else { %>
  <!-- Opción del menú deshabilitada (oculta) -->
  <li class="list-item" style="display: none;">      
  </li>
<% } %>
<% if (typeof username !== 'undefined' && typeof tableName !== 'undefined') { %>
  <!-- Opción del menú habilitada -->
  <li class="list-item">
    <a href="/logros/<%= tableName %>" class="logros item--js">
      <span>Logros</span>
      <img src="../../imagenes/award.svg" alt="">
      </a>
  </li>
<% } else { %>
  <!-- Opción del menú deshabilitada (oculta) -->
  <li class="list-item" style="display: none;">      
  </li>
<% } %>
 </ul>
</header>